<footer class="footer">
  <ul class="footer__social">
    <li class="social-item">
      <a class="link" target="_blank" href="https://www.linkedin.com/in/espinozah/">
        <img class="img-social" src="assets/img/linkedin.png" alt="linkedin" />
      </a>
    </li>
    <li class="social-item">
      <a class="link" target="_blank" href="https://github.com/matiasespinozah">
        <img class="img-social" src="assets/img/github.png" alt="github" />
      </a>
    </li>
    <li class="social-item">
      <a
        class="link"
        target="_blank"
        href="https://wa.me/56936265676?text=Hola%20Matías,%20vengo%20desde%20tu%20sitio%20https://espinozah.cl"
      >
        <img class="img-social" src="assets/img/whatsapp.png" alt="whatsapp" />
      </a>
    </li>
  </ul>

  <p class="footer__copyright">
    ©2021 by <img class="espinozah-img" src="assets/img/espinozah.png" alt="espinozah" />
  </p>
</footer>
