@import '~theme/variables';
@import '~theme/responsive';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  @include medium {
    padding: 2.5rem 6.25rem;
  } // End of @include medium

  &__toggle {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $primary-color;
      transform: translateY(-6px);
      transition: 0.5s;
    } // &::before

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $primary-color;
      transform: translateY(6px);
      transition: 0.5s;
    } // .header__toggle::before

    @include medium {
      width: 40px;
      height: 40px;

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $primary-color;
        transform: translateY(-6px);
        transition: 0.5s;
      } // &::before

      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $primary-color;
        transform: translateY(6px);
        transition: 0.5s;
      } // .header__toggle::before
    } // @include medium

    &.header__toggle--active {
      left: -200px;

      &::before {
        background-color: $secondary-color;
        transform: translateY(0px) rotate(45deg);
      } // end ::before

      &::after {
        background-color: $secondary-color;
        transform: translateY(0px) rotate(-45deg);
      } // end ::after
    } // end header__toggle--active
  } // end header__toggle
} // end header
