<section class="navigation" [class.navigation--open]="state" [class.navigation--close]="!state">
  <section class="navigation__banner">
    <img
      src="https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      alt="espinozah"
      class="cover"
    />
  </section>

  <nav class="navigation__menu">
    <ul class="menu">
      <li class="menu__item"><a class="link"> Home </a></li>
      <li class="menu__item"><a class="link"> About </a></li>
      <li class="menu__item"><a class="link"> Services </a></li>
      <li class="menu__item"><a class="link"> Portfolio </a></li>
      <li class="menu__item"><a class="link"> Contact </a></li>
    </ul>
  </nav>
</section>
